{% extends 'base.html.twig' %}

{% block title %}Center index{% endblock %}

{% block body %}
    <h1>Center index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Center_id</th>
                <th>Type</th>
                <th>Point_of_contact</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for center in centers %}
            <tr>
                <td>{{ center.id }}</td>
                <td>{{ center.name }}</td>
                <td>{{ center.centerId }}</td>
                <td>{{ center.type }}</td>
                <td>{{ center.pointOfContact }}</td>
                <td>{{ center.address }}</td>
                <td>
                    <a href="{{ path('center_show', {'id': center.id}) }}">show</a>
                    <a href="{{ path('center_edit', {'id': center.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('center_new') }}">Create new</a>
{% endblock %}
